## .NET
bin/
obj/
out/

## IDE
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
*.nupkg
**/packages/*

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## OS
.DS_Store
Thumbs.db
Desktop.ini

## Docker
docker-compose.override.yml

## User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
coverage/
